* {
    font-family: "JetBrainsMono Nerd Font Mono";
	background-image: none;
	transition: 20ms;
}

window {
	background-color: transparent;
}

button {
    color: #f5e0dc;
	font-size: 24px;

	background-color: rgba(30, 30, 46, 0.69);

	border-style: solid;
	border-width: 2px;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
	background-color: rgba(180, 190, 254, 0.69);
	border: 2px solid rgba(180, 190, 254, 0.69);
}

#lock {
	margin: 8px;
	border-radius: 4px;
	background-image: image(url("./icons/lock.png"));
}
#logout {
	margin: 8px;
	border-radius: 4px;
	background-image: image(url("./icons/logout.png"));
}
#suspend {
	margin: 8px;
	border-radius: 4px;
	background-image: image(url("./icons/suspend.png"));
}
#hibernate {
	margin: 8px;
	border-radius: 4px;
	background-image: image(url("./icons/hibernate.png"));
}
#shutdown {
	margin: 8px;
	border-radius: 4px;
	background-image: image(url("./icons/shutdown.png"));
}
#reboot {
	margin: 8px;
	border-radius: 4px;
	background-image: image(url("./icons/reboot.png"));
}