* {
    font-family: "IBM Plex Mono";
    border: none;
    border-radius: 0px;
    font-size: 13px;
    min-height: 18px;
}

window#waybar {
    background: rgba(40, 42, 54, 0.33);
    color: #f5e0dc;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: transparent;
    border-color: rgba(248, 248, 242, 0.5);
    border-style: solid;
    border-radius: 0px;
    border-width: 0px 0px;
}
#workspaces button {
    padding: 4px 8px;
    color: #f5e0dc;
}
#workspaces button.active {
    /* color: #a6e3a1; */
    color: #50fa7b;
}

#bluetooth,
#clock,
#custom-mediaplayer,
#custom-updates,
#pulseaudio,
#network,
#custom-exit,
#cpu,
#memory,
#disk,
#custom-notification {
    background-color: transparent;
    border-color: #f8f8f2;
    border-style: solid;
    border-radius: 0px;
    border-width: 0px 0px;
    color: #f5e0dc;
    padding: 0px 4px;
    
}
#cpu {
    margin: 0px 0px 0px 4px;
}

#custom-exit {
    font-family: "Fira Code";
}

#custom-notification {
    font-family: "Fira Code";
    margin: 0px 8px 0px 0px;
    padding: 0px 0px;
}