* {
    font-family: "GeistMono Nerd Font";
    border: none;
    border-radius: 0px;
    font-size: 12px;
    min-height: 20px;
}

window#waybar {
    background: transparent;
    /* background: rgba(30, 30, 46, 0.5); */
    color: #f5e0dc;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: #181825;
    border: 2px solid #313244;
    border-radius: 4px;
}
#workspaces button {
    padding: 4px 8px;
    color: #f5e0dc;
}
#workspaces button.active {
    border-bottom: 2px solid #f5e0dc;
    color: #f5e0dc;
}

#clock,
#custom-mediaplayer,
#custom-updates,
#pulseaudio,
#network,
#custom-exit,
#cpu,
#memory,
#disk,
#custom-notification {
    background-color: #181825;
    border: 2px solid #313244;
    color: #f5e0dc;
    padding: 4px 8px;
    border-radius: 4px;
}
#cpu {
    margin: 0px 0px 0px 8px;
}

/*
#cpu {
    margin: 0px 0px 0px 8px;
    background-color: #181825;
    padding: 4px 8px;
    border-radius: 4px 0px 0px 4px;
    border-top: 2px solid #313244;
    border-bottom: 2px solid #313244;
    border-left: 2px solid #313244;
}
#memory {
    margin-left: -16px;
    background-color: #181825;
    padding: 4px 8px;
    border-radius: 0px;
    border-top: 2px solid #313244;
    border-bottom: 2px solid #313244;
}
#disk {
    margin-left: -16px;
    background-color: #181825;
    padding: 4px 8px;
    border-radius: 0px 4px 4px 0px;
    border-top: 2px solid #313244;
    border-bottom: 2px solid #313244;
    border-right: 2px solid #313244;
}
*/ 

#custom-exit {
    font-family: "Fira Code";
}

#custom-notification {
    font-family: "Fira Code";
    margin: 0px 8px 0px 0px;
    padding: 4px 8px;
}